---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=122329457846214";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">

  <div class="large-8 columns">
  
    <article>
      <h1>{{ page.title }}</h1>
      <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      {{ content }}
      <div class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </article>

    <nav class="pagination-centered">
      <ul class="pagination">
        {% if page.previous %}
        <li class="arrow"><a href="{{ site.baseurl }}{{ page.previous.url }}">&laquo; Previous</a></li>
        {% else %}
        <li class="unavailable">&laquo; Previous</li>
        {% endif %}
        {% if page.next %}
        <li class="arrow"><a href="{{ site.baseurl }}{{ page.next.url }}">Next &raquo;</a></li>
        {% else %}
        <li class="unavailable">Next &raquo;</li>
        {% endif %}
      </ul>
    </nav>
  
  </div>

  {% include aside.html %}

</div>